.data__title {
    margin: 0;
    padding: 0;
    color: #003331;
    font-family: 'Libre Baskerville';
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 1.2px;
}