.location__button {
    width: 143px;
    height: 52px;
    margin: 0;
    margin-top: 37px;
    padding: 0;
    background: #00665F;
    color: #FFF;
    text-align: center;
    font-family: 'Public Sans';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.02px;
    border: none;
    border-radius: 80px;
    box-sizing: border-box;
    cursor: pointer;
}

.location__button:hover {
    background: #FAFAFA;
    color: #00665F;
}