.header__button {
    width: 208px;
    height: 54px;
    margin: 29px 0px 0px 64px;
    background-color: rgba(28,28,28,0);
    color: #FFF;
    text-align: center;
    font-family: 'Public Sans';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02px;
    border-radius: 80px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    box-sizing: border-box;
    cursor: pointer;
}

.header__button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 51, 49, 1);
    transition: all 0.3s ease-in-out 0s;
}